.menu{
    display: flex;
    font-family: $font-helvetica;

    &__item--active{
        color: #000;
        margin: 0 .5em;
        transition: color .5;
        display: inline-block;
        &:hover{
            color: $color-principal;
            transform: scale(1.05);
        }
        @media (min-width: 700px){
            margin: 0 1em;
        }
    }
}
